<!doctype html>
<html class="no-js" lang="zxx">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>EyesAIght | Login</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/assets/css/slicknav.css">
    <link rel="stylesheet" href="/static/assets/css/flaticon.css">
    <link rel="stylesheet" href="/static/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/static/assets/css/gijgo.css">
	<link rel="stylesheet" href="/static/assets/css/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/animated-headline.css">
	<link rel="stylesheet" href="/static/assets/css/hamburgers.min.css">
	<link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/static/assets/css/themify-icons.css">
	<link rel="stylesheet" href="/static/assets/css/slick.css">
	<link rel="stylesheet" href="/static/assets/css/nice-select.css">
	<link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
	<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyDUlfWzcOXcJKW5SLwVMU33FVUfj8LfVdw",
    authDomain: "healthdb-hackathon.firebaseapp.com",
    projectId: "healthdb-hackathon",
    storageBucket: "healthdb-hackathon.appspot.com",
    messagingSenderId: "480561590329",
    appId: "1:480561590329:web:cceef6903a9e68f04edde8",
    measurementId: "G-WKZ0S961NV"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
	<!-- ? Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="preloader-circle"></div>
				<div class="preloader-img pere-text">
					<img src="/static/assets/img/logo/loder.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<!-- Preloader Start -->
	<header>
		<!-- Header Start -->
		<div class="header-area header-transparent">
			<div class="main-header ">
				<div class="header-bottom  header-sticky">
					<div class="container-fluid">
						<div class="row align-items-center">
							<!-- Logo -->
							<div class="col-xl-2 col-lg-2">
								<div class="logo">
									
								</div>
							</div>
							<div class="col-xl-10 col-lg-10">
								<div class="menu-wrapper d-flex align-items-center justify-content-end">
									<!-- Main-menu -->
									<div class="main-menu d-none d-lg-block">
										<nav>
                                            <ul id="navigation">                                                                                          
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/records">View Records</a></li>
                                                <li><a href="/add">Add Record</a></li>
                                                <!-- Button -->
                                                <li class="button-header margin-left "><a href="/register" class="btn">Sign Up</a></li>
                                                <li class="button-header"><a href="/login" class="btn3">Sign In</a></li>
                                            </ul>
                                        </nav>
									</div>
								</div>
							</div> 
							<!-- Mobile Menu -->
							<div class="col-12">
								<div class="mobile_menu d-block d-lg-none"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header End -->
	</header>
	<main>
		<!-- Slider Area Start-->
		<div class="slider-area slider-bg ">
			<!-- Single Slider -->
			<div class="single-slider d-flex align-items-center slider-height3">
				<div class="container">
					<div class="row align-items-center justify-content-center">
						<div class="col-xl-8 col-lg-9 col-md-12 ">
							<div class="hero__caption hero__caption3 text-center">
								<h1 data-animation="fadeInLeft" data-delay=".6s ">Login</h1>
							</div>
						</div>
					</div>
				</div>
			</div>    
			<!-- Slider Shape -->
			<div class="slider-shape d-none d-lg-block">
				<img class="slider-shape1" src="/static/assets/img/hero/top-left-shape.png" alt="">
			</div>
		</div>
		<div class="whole-wrap">
			<div class="container box_1170">
				<div class="section-top-border">
					<div class="row">
						<div class="col-lg-4 col-md-2"></div>
						<div class="col-lg-4 col-md-8">
							<h3 class="mb-30">Login</h3>
							<div class="form" style="margin-bottom: 10px;">
								<div class="mt-10">
									<input type="email" name="EMAIL" id="input-email" placeholder="Email address"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required
									class="single-input">
								</div>
								<div class="mt-10">
									<input type="password" name="PASSWORD" id="input-password" placeholder="Password"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
									class="single-input">
								</div>
							</div>
							<center><div class="genric-btn primary" id="btn-login">Login</div></center>
							<p id="text-error" style="color: #ff0000; margin-top:10px;"></p>
						</div>
						<div class="col-lg-4 col-md-2"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Align Area -->
	</main>
	<footer>
		<div class="footer-wrappr " data-background="/static/assets/img/gallery/footer-bg.png">
			<div class="footer-area footer-padding ">
				<div class="container">
					<div class="row d-flex justify-content-between">
						<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
							<div class="single-footer-caption mb-50">
								<!-- logo -->
								<div class="footer-tittle">
									<h1 style="color: white; font-size: 30px;">&copy; EyesAIght</h1>
								</div>
								<div class="footer-tittle mb-50">
									<p>Using AI to improve DR diagnosis</p>
								</div>
								<!-- Form -->
								<div class="footer-form">
									<div id="mc_embed_signup">
										
									</div>
								</div>
								<!-- social -->
							</div>
						</div>
						<div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
							<div class="single-footer-caption mb-50">
								<div class="footer-tittle">
									<h4><a href="/">Home</a></h4>
								  
								</div>
							</div>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
							<div class="single-footer-caption mb-50">
								<div class="footer-tittle">
									<h4><a href="/records">View Records</a></h4>
								 
								</div>
							</div>
						</div>
						<div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
							<div class="single-footer-caption mb-50">
								<div class="footer-tittle">
									<h4><a href="/add">Add Record</a></h4>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- footer-bottom area -->
			<div class="footer-bottom-area">
				<div class="container">
					<div class="footer-border">
						<div class="row">
							<div class="col-xl-12">
								<div class="footer-copy-right text-center">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Scroll Up -->
		<div id="back-top" >
			<a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
		</div>

		<!-- JS here -->

		<script>

			const emailInput = document.getElementById("input-email");
			const passwordInput = document.getElementById("input-password");
			const loginButton = document.getElementById("btn-login");
			const textError = document.getElementById("text-error");

			const login = (email, password) => {
				return new Promise(async (resolve, reject) => {
					auth.signInWithEmailAndPassword(email, password).then((userCredential) => {
						resolve(userCredential);
					}).catch((err) => {
						reject(err);
					});
				})
			}

			loginButton.onclick = async () => {
				credentials = await login(emailInput.value, passwordInput.value).catch((err) => {
					textError.innerHTML = err.message;
				});
			}
		</script>

		<script src="/static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="/static/assets/js/vendor/jquery-1.12.4.min.js"></script>
		<script src="/static/assets/js/popper.min.js"></script>
		<script src="/static/assets/js/bootstrap.min.js"></script>
		<!-- Jquery Mobile Menu -->
		<script src="/static/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
		<script src="/static/assets/js/owl.carousel.min.js"></script>
		<script src="/static/assets/js/slick.min.js"></script>
		<!-- One Page, Animated-HeadLin -->
		<script src="/static/assets/js/wow.min.js"></script>
		<script src="/static/assets/js/animated.headline.js"></script>
		<script src="/static/assets/js/jquery.magnific-popup.js"></script>

		<!-- Date Picker -->
		<script src="/static/assets/js/gijgo.min.js"></script>
		<!-- Nice-select, sticky -->
		<script src="/static/assets/js/jquery.nice-select.min.js"></script>
		<script src="/static/assets/js/jquery.sticky.js"></script>
		
		<!-- Progress -->
		<script src="/static/assets/js/jquery.barfiller.js"></script>
		
		<!-- counter , waypoint,Hover Direction -->
		<script src="/static/assets/js/jquery.counterup.min.js"></script>
		<script src="/static/assets/js/waypoints.min.js"></script>
		<script src="/static/assets/js/jquery.countdown.min.js"></script>
		<script src="/static/assets/js/hover-direction-snake.min.js"></script>

		<!-- contact js -->
		<script src="/static/assets/js/contact.js"></script>
		<script src="/static/assets/js/jquery.form.js"></script>
		<script src="/static/assets/js/jquery.validate.min.js"></script>
		<script src="/static/assets/js/mail-script.js"></script>
		<script src="/static/assets/js/jquery.ajaxchimp.min.js"></script>
		
		<!-- Jquery Plugins, main Jquery -->	
		<script src="/static/assets/js/plugins.js"></script>
		<script src="/static/assets/js/main.js?v=2"></script>
		
		<script>
			const auth = firebase.auth();
			var credentials;
			var resolvedCredentials = false;
			var windowLoaded = false;
			auth.onAuthStateChanged(function(user) {
				credentials = user;
				if(credentials != null) {
					window.location.href = "/records";
				} else {
					resolvedCredentials = true;
					if(windowLoaded && resolvedCredentials) {
						$('#preloader-active').delay(450).fadeOut('slow');
						$('body').delay(450).css({
							'overflow': 'visible'
						});
					}
				}
			});
			$(window).on('load', function () {
				windowLoaded = true;
				if(windowLoaded && resolvedCredentials) {
					$('#preloader-active').delay(450).fadeOut('slow');
					$('body').delay(450).css({
						'overflow': 'visible'
					});
				}
			});
		</script>
	</body>
	</html>